<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <title>Construction Apps Starter Project</title>
</head>
<body>
  <a href="#article" class="skip-link">Menuju ke konten</a>
<header>
  <nav id="drawer" class="nav">
   
    <img src="/images/heros/logo3.png" alt="logo" class="logo">
    <button class="nav__btn">☰</button>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Project</a></li>
      <li class="nav__item"><a href="#">Contact</a></li>
      <li class="nav__item"><a href="#">Legality</a></li>
      <li class="nav__item"><a href="https://github.com/irfan-fauzi" target="_blank">About Us</a></li>
    </ul>
  </nav>
  <section id="jumbotron" class="jumbotron">
    <div class="jumbotron__text-wrap">
      <h1>Construction Solution we Build your Dream</h1>
      <h2>General Multi Utama is a company engaged in contracting, established since 1994
        experienced in the construction field</h2>
     
    </div>
    <div class="jumbotron__btn-wrap">
      <button class="btn-discover">Discover More</button>
      <button class="btn-contact">Contact Us</button>
    </div>
  </section>
</header>
<main>
  <div class="stripe">
    <div class="stripe-wrap">
      <h3>are you looking for an experienced <br> Construction & industry expert ?
       </h3>
     <button class="btn-stripe">Discover more</button>
    </div>
  </div>
  <section class="welcome">
    <div class="welcome__text-wrap">
      <h3>Welcome to PT. General Multi Utama</h3>

      <h4>The great history and journey of PT. General Multi Utama started in 1994. With the skill and experience we have developed for more than 20 years while handling prestigious construction project of huge and medium scale. We started to build dozens of factories, hotels, apartements, commercial buildings and hospitals. General Multi Utama focuses on general construction service with end-to-end service including : Plan, Design and Bulid.</h4>

      <h4>Beyond bricks and mortar, people are the backbone of our business. We value relationships with the people we serve our clients, contractors, suppliers and associates. Together we can enhance the quality of life for all. Since we believe that buildings are a reflection of the people who build them, we hire leaders of esteemed character who are fair, kind and considerate. By attracting and retaining the best construction professionals in our industry, </h4>
      <h4>
        we are able to maintain the highest standards and ethics. When you work with PT. General Multi Utama Company, you will experience positive attitudes, flexibility, transparency, timeliness, and quality workmanship.
      </h4>

      <img src="/images/heros/signature.png" alt="signature" class="welcome-signature">

      <button class="btn-welcome">contact us</button>

    </div>

    <div class="welcome__image-wrap">
      <div class="wrap hotel">
        <h5>Hotel & apartements</h5>
      </div>
      <div class="wrap shopping-center">
        <h5>shoping center</h5>
      </div>
      <div class="wrap office-space">
        <h5>office space</h5>
      </div>
      <div class="wrap factory">
        <h5>factory</h5>
      </div>
    </div>
  </section>
  <section class="service">
    <div class="main-service" >
      <h2>main service</h2>
      <div class="grid">
        <div class="img-wrap">
          <img src="https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
        <div class="service">
          <div class="card">
            <i class="fas fa-cogs"></i>
            <h3>Engineering</h3>
            <h4>Architectures, Civil and Mechanical & Electrical.</h4>
          </div>
          <div class="card">
            <i class="fas fa-luggage-cart"></i>
            <h3>Procurements</h3>
            <h4>Machineries, Instruments and Project Materials Supply.</h4>
          </div>
          <div class="card">
            <i class="fas fa-hard-hat"></i>
            <h3>Constructions</h3>
            <h4>Housing Developments, Building such as Office Bldg, Hotel, Hospital, Shopping Malls, et</h4>
          </div>
        </div>
      </div>
  </section>
</main>
 
</body>
</html>
