<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    
    <title>Construction Apps Starter Project</title>
</head>
<body>
  <a href="#article" class="skip-link">Menuju ke konten</a>
<header>
  <nav id="drawer" class="nav">
   
    <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/logo3.png" alt="logo" class="logo">
    <button class="nav__btn">☰</button>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Project</a></li>
      <li class="nav__item"><a href="#">Contact</a></li>
      <li class="nav__item"><a href="#">Legality</a></li>
      <li class="nav__item"><a href="https://github.com/irfan-fauzi" target="_blank">About Us</a></li>
    </ul>
  </nav>
  <section id="jumbotron" class="jumbotron">
    <div class="jumbotron__text-wrap">
      <h1>Construction Solution we Build your Dream</h1>
      <h2>General Multi Utama is a company engaged in contracting, established since 1994
        experienced in the construction field</h2>
     
    </div>
    <div class="jumbotron__btn-wrap">
      <button class="btn-discover"><a href="#main-service">Discover More</a></button>
      <button class="btn-contact">Contact Us</button>
    </div>
  </section>
</header>
<main>
  <div class="stripe">
    <div class="stripe-wrap">
      <h3>are you looking for an experienced <br> Construction & industry expert ?
       </h3>
     <button class="btn-stripe">Discover more</button>
    </div>
  </div>
  <section class="welcome">
    <div class="welcome__text-wrap">
      <h3>Welcome to PT. General Multi Utama</h3>

      <h4>The great history and journey of PT. General Multi Utama started in 1994. With the skill and experience we have developed for more than 20 years while handling prestigious construction project of huge and medium scale. We started to build dozens of factories, hotels, apartements, commercial buildings and hospitals. General Multi Utama focuses on general construction service with end-to-end service including : Plan, Design and Bulid.</h4>

      <h4>Beyond bricks and mortar, people are the backbone of our business. We value relationships with the people we serve our clients, contractors, suppliers and associates. Together we can enhance the quality of life for all. Since we believe that buildings are a reflection of the people who build them, we hire leaders of esteemed character who are fair, kind and considerate. By attracting and retaining the best construction professionals in our industry, </h4>
      <h4>
        we are able to maintain the highest standards and ethics. When you work with PT. General Multi Utama Company, you will experience positive attitudes, flexibility, transparency, timeliness, and quality workmanship.
      </h4>

      <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/signature.png" alt="signature" class="welcome-signature">

      <button class="btn-welcome">contact us</button>

    </div>

    <div class="welcome__image-wrap">
      <div class="wrap hotel">
        <h5>Infrastructure & Building</h5>
        
      </div>
      <div class="wrap shopping-center">
        <h5>reality and property</h5>
      </div>
      <div class="wrap office-space">
        <h5>funding</h5>
      </div>
      <div class="wrap factory">
        <h5>energy & industrial plant</h5>
      </div>
      <div class="wrap industry">
        <h5>industry</h5>
      </div>
    </div>
  </section>
 
  

  <section class="main-service" id="main-service">
    
    <div class="container">
      <h2>Industry</h2>
      <ul class="tabs">
        <li data-tab-target="#satu" class="active tab">precast concrete</li>
        <li data-tab-target="#dua" class="tab">Industrial facility</li>
        <li data-tab-target="#tiga" class="tab">Bitumen</li>
      </ul>
     
      <div class="tab-content">
        <div id="satu" data-tab-content class="active">
          <div class="container">
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/1.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/2.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/3.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/beton.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/beton2.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/6.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/7.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/8.jpg" alt="airport">
              </div>
            </div>
            <div class="card">
              <div class="img-con">
                <img src="/images/heros/precest/beton3.jpg" alt="airport">
              </div>
            </div>
          </div>
          <div class="preview-box">
            <div class="details">
              <span class="close fa fa-times"></span>
            </div>
            <div class="img-box">
              <div class="slide prev">
                <i class="fa fa-angle-left"></i>
              </div>
              <div class="slide next">
                <i class="fa fa-angle-right"></i>
              </div>
              <img src="" alt="beton">
            </div>
          </div>
        </div>


        <div id="dua" data-tab-content >
          <div class="container">
            <div class="card">
              <h3>Fabrication stainless</h3>
              <div class="img-con">
                <img src="https://mydecorative.com/wp-content/uploads/2019/07/stainless-steel-fabrication.jpg" alt="fabrication stainless">
              </div>
            </div>
            <div class="card">
              <h3>Alumunium Casting</h3>
              <div class="img-con">
                <img src="https://4.imimg.com/data4/BT/SL/MY-8452474/aluminium-pressure-die-casting-machine-500x500.jpg" alt="alumunium casting">
              </div>
            </div>
            
          </div>
        </div>
        <div id="tiga" data-tab-content >
          <div class="container">
            <div class="card">
              <h3>granular asphalt</h3>
              <div class="img-con">
                <img src="https://image1ws.indotrading.com/s3/productimages/jpeg/co101713/p547692/w600-h600/c8f24eda-92dc-48ad-95dc-beeb8259b6dfw.png" alt="granular asphalt">
              </div>
            </div>
            <div class="card">
              <h3>asphalt extraction</h3>
              <div class="img-con">
                <img src="https://www.wikabitumen.co.id/uploads/images/aspal-murni3.jpeg" alt="asphalt extraction">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Managed by :</h4>
      <div class="logo-wika">
        <div class="card">
          <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wikabeton.png" alt="wika beton">
        </div>
        <div class="card">
          <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-kobe.png" alt="wika kobe">
        </div>
        <div class="card">
          <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-krakatau.jpg" alt="wika krakatau">
        </div>
        <div class="card">
          <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-industri.jpg" alt="wika industri dan konstruksi">
        </div>
        <div class="card">
          <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-bitumen.png" alt="wika bitumen">
        </div>
      </div>
    </div>
  </section>

 <!-- -------------------------------------------------- -->

 <section class="main-service" id="main-service">
    
    <div class="container energy">
      <h2>Energy and Industrial plant</h2>
      <ul class="tabs">
        <li data-energy-target="#satu-2" class="active tab">EPC</li>
        <li data-energy-target="#dua-2" class="tab">Operation and Maintenence</li>
        
      </ul>
     
      <div class="tab-content">
        <div id="satu-2" data-energy-content class="active">
          <div class="container">
            <div class="card">
              <h3>Oil and gas plant</h3>
              <div class="img-con">
                <img src="http://st2.depositphotos.com/1005574/6559/i/450/depositphotos_65596775-Oil-and-gas-plant.jpg" alt="oil and gas plant">
              </div>
            </div>
            <div class="card">
              <h3>Petrochemical plant</h3>
              <div class="img-con">
                <img src="https://www.jgc.com/en/projects/img/051_im01.jpg" alt="alumunium casting">
              </div>
            </div>

            <div class="card">
              <h3>Cement plant</h3>
              <div class="img-con">
                <img src="https://aecom.com/id/wp-content/uploads/2013/11/URS96_3748-798x531.jpg" alt="cement plant">
              </div>
            </div>

            <div class="card">
              <h3>Power plant</h3>
              <div class="img-con">
                <img src="https://media.tehrantimes.com/d/t/2020/12/26/4/3639909.jpg" alt="power plant">
              </div>
            </div>

            <div class="card">
              <h3>Mining</h3>
              <div class="img-con">
                <img src="https://www.sgs.co.id/-/media/global/images/structural-website-images/hero-images/mining-hero.jpg?la=en" alt="mining">
              </div>
            </div>

            <div class="card">
              <h3>Bio Fuels</h3>
              <div class="img-con">
                <img src="https://biofuels-news.com/wp-content/uploads/2021/02/Philippines-set-to-raise-pic-Biofuels-15-2-768x512.jpg" alt="biofuel">
              </div>
            </div>

            <div class="card">
              <h3>fertilizers</h3>
              <div class="img-con">
                <img src="https://www.sgs.co.id/-/media/global/images/structural-website-images/hero-images/hero-agri-fertilizers.jpg" alt="fertilizers">
              </div>
            </div>
          </div>
        </div>


        <div id="dua-2" data-energy-content >
          <div class="container">
            <div class="card">
              <h3>Power plant</h3>
              <div class="img-con">
                <img src="https://media.tehrantimes.com/d/t/2020/12/26/4/3639909.jpg" alt="power plant">
              </div>
            </div>
            <div class="card">
              <h3>Industrial equipment</h3>
              <div class="img-con">
                <img src="https://firstguide.me/wp-content/uploads/2018/12/firstguide-industrial-equipment1.jpg">
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      <h4>Managed by :</h4>
      <h5>Power Construction Department</h5>
      <h5>Power Investment Department</h5>
      <h4>Partner : </h4>
      <div class="logo-wika">
        <div class="card">
          <img src="https://investor.wika.co.id/images/PT_WIKA_Rekayasa_Konstruksi02.png" alt="wika rekayasa konstruksi" class="logo-wika-konstruksi">
        </div>
      </div>
    </div>
  </section>
<!-- ------------------------- infrastructure  ------------------------ -->

<section class="main-service" id="main-service">
    
  <div class="container energy">
    <h2>Infrastructure and building</h2>
    <ul class="tabs">
      <li data-infra-target="#infra-1" class="tab">Civil Construction</li>
      <li data-infra-target="#infra-2" class="active tab">Building Construction</li>
      <li data-infra-target="#infra-3" class="tab">Steel  construction</li>
    </ul>
   
    <div class="tab-content">
      <div id="infra-1" data-infra-content >
        <div class="container">
          <div class="card">
            <h3>Non toll fly over</h3>
            <div class="img-con">
              <img src="https://joss.co.id/data/uploads/2018/12/ilustrasi-flyover-dibangun.jpg" alt="fly over non tol">
            </div>
          </div>
        
         
          <div class="card">
            <h3>Bridge</h3>
            <div class="img-con">
              <img src="https://archinect.imgix.net/uploads/06/061aa1c310689ac82cc786ab97ecb377.jpg?fit=crop&auto=compress%2Cformat&w=1200">
            </div>
          </div>

          <div class="card">
            <h3>Dam</h3>
            <div class="img-con">
              <img src="https://files.structurae.net/files/photos/1/victoriya_dam.jpg">
            </div>
          </div>
        </div>
      </div>


      <div id="infra-2" data-infra-content class="active">
        <div class="container">

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/1.jpg" alt="airport">
            </div>
          </div>
          
          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/2.jpg" alt="airport">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/3.jpg" alt="airport">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/4.jpg" alt="airport">
            </div>
          </div>
        
          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/5.jpg" alt="airport">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/6.jpg" alt="airport">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/7.jpg" alt="airport">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/8.jpg" alt="airport">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/hotels/10.jpg" alt="airport">
            </div>
          </div>
        </div>
      </div>

      <div id="infra-3" data-infra-content >
        <div class="container">
          <div class="card">
            <div class="img-con">
              <img src="https://www.steelbuildingstructure.com/wp-content/uploads/2020/11/steel-structure-construction.jpg" alt="steel construction">
            </div>
          </div>
          <div class="card">
            <div class="img-con">
              <img src="https://www.directorsteelstructure.com/wp-content/uploads/2020/03/Multi-Storey-Steel-Structure-03.jpg" alt="steel construction">
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <h4>Managed by :</h4>
    <h5>Civil Work Department</h5>
    <h5>Regional Department</h5>
    <h5>Overseas Department</h5>
    <h5>Building Department</h5>
    <h4>Partner : </h4>
    <div class="logo-wika">
      <div class="card">
        <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-industri.jpg" alt="wika rekayasa konstruksi" class="logo-wika-konstruksi">
      </div>

      <div class="card">
        <img src="https://www.wikagedung.co.id/dev/assets/wika/images/logo.png" alt="wika rekayasa konstruksi" class="logo-wika-gedung">
      </div>
    </div>
  </div>
</section>
<!-- end of infrastructure ---------------------- -->

<!-- start reality and property -->
<section class="main-service" id="main-service">
    
  <div class="container energy">
    <h2>Reality and property</h2>
    <ul class="tabs">
      <li data-property-target="#property-1" class="active tab">Reality and property</li>
      <li data-property-target="#property-2" class="tab">Property management</li>
    </ul>
   
    <div class="tab-content">
      <div id="property-1" data-property-content class="active">
        <div class="container">
          <div class="card">
            <h3>Apartment</h3>
            <div class="img-con">
              <img src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/20022375-8c4c6bccca104dba316f7e559b692ff5.jpeg?tr=q-40,c-at_max,w-740,h-500&_src=imagekit" alt="apartment">
            </div>
          </div>
          <div class="card">
            <h3>Office presticius</h3>
            <div class="img-con">
              <img src="https://www.ncakey.org/wp-content/uploads/2018/03/office-building.jpg" alt="office">
            </div>
          </div>

          <div class="card">
            <h3>Industrial estate</h3>
            <div class="img-con">
              <img src="https://kbeonline.id/wp-content/uploads/2020/11/bawah-1.jpg" alt="office">
            </div>
          </div>
          <div class="card">
            <div class="img-con">
              <img src="/images/heros/reality/1.jpg" alt="office">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/reality/2.jpg" alt="office">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/reality/3.jpg" alt="office">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/reality/4.jpg" alt="office">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/reality/5.jpg" alt="office">
            </div>
          </div>

          <div class="card">
            <div class="img-con">
              <img src="/images/heros/reality/6.jpg" alt="office">
            </div>
          </div>
          
        </div>
      </div>


      <div id="property-2" data-property-content >
        <div class="container">
          <div class="card">
            <h3>management property</h3>
            <div class="img-con">
              <img src="https://irgbusiness.com/wp-content/uploads/2019/08/Commercial-Property-Management.jpg" alt="airport">
            </div>
          </div>
         
        </div>
      </div>

      
      
    </div>
    <h4>Managed by :</h4>
    <h5>Building Department</h5>
    <h4>Partner : </h4>
    <div class="logo-wika">
      <div class="card">
        <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-reality.png" alt="wika reality" class="logo-wika-konstruksi">
      </div>

      <div class="card">
        <img src="https://www.wikagedung.co.id/dev/assets/wika/images/logo.png" alt="wika rekayasa konstruksi" class="logo-wika-gedung">
      </div>
    </div>
  </div>
</section>
<!-- end reality and property -->

<section class="main-service" id="main-service">
    
  <div class="container energy">
    <h2>Funding</h2>
    <ul class="tabs">
      <li data-funding-target="#funding-1" class="active tab">Funding</li>
    </ul>
   
    <div class="tab-content">
      <div id="funding-1" data-funding-content class="active">
        <div class="container">
        
          <div class="card">
            <h3>Development</h3>
            <div class="img-con">
              <img src="https://pqm.co.id/wp-content/uploads/2019/09/Employee_Development_Plans_4_Winning_Steps_to_Engage_Employees700x525.png" alt="development">
            </div>
          </div>

          <div class="card">
            <h3>Infrastructure</h3>
            <div class="img-con">
              <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/infra.jpg" alt="development">
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <h4>Managed by :</h4>
    <h5>Power Investment department</h5>
    <h4>Partner : </h4>
    <div class="logo-wika">
      <div class="card">
        <img src="https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/wika-industry-energy.jpg" alt="wika reality" class="logo-wika-konstruksi">
      </div>
    </div>
  </div>
</section>

<section class="our-client" id="our-client">
  <h2 class="our-client__header">our costumer</h2>
  <div class="container">
    <img src="/images/heros/costumer-1.jpg" alt="costumer 1">
    <img src="/images/heros/costumer-2.jpg" alt="costumer 2">
    <img src="/images/heros/costumer-3.jpg" alt="costumer 3">
  </div>
</section>

</main>
 <footer id="contact">
  <h2>contact</h2>
  <div class="container">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.286856778882!2d106.86456011405609!3d-6.225858162705621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f37776aa259b%3A0x771864eb0c50f3af!2sPT.%20Baitussalam%20Mandiri!5e0!3m2!1sid!2sid!4v1623396221691!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="about-us">
      <h3>about us</h3>
      <h4>
        The great history and journey of PT. General Multi Utama started in 1994. With the skill and experience we have developed for more than 20 years while handling prestigious construction project of huge and medium scale. We started to build dozens of factories, hotels, apartements, commercial buildings and hospitals. General Multi Utama focuses on general construction service with end-to-end service including : Plan, Design and Bulid.
      </h4>
    </div>
    <div class="contact-info">
      <h4 class="address">Address:  Jl. Otista Raya No.8, RT.1/RW.1, Bidara Cina, Jatinegara, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13330, Indonesia</h4>
      <h4 class="phone">Phone :  (+62)218579701</h4>
      <h4 class="email">Email : info@gmuepcindo.com </h4>
    </div>
  </div>
 </footer>
</body>
</html>
