<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    
    <title>Construction Apps Starter Project</title>
</head>
<body>
  <a href="#article" class="skip-link">Menuju ke konten</a>
<header>
  <nav id="drawer" class="nav">
   
    <img src="/images/heros/logo3.png" alt="logo" class="logo">
    <button class="nav__btn">☰</button>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Project</a></li>
      <li class="nav__item"><a href="#">Contact</a></li>
      <li class="nav__item"><a href="#">Legality</a></li>
      <li class="nav__item"><a href="https://github.com/irfan-fauzi" target="_blank">About Us</a></li>
    </ul>
  </nav>
  <section id="jumbotron" class="jumbotron">
    <div class="jumbotron__text-wrap">
      <h1>Construction Solution we Build your Dream</h1>
      <h2>General Multi Utama is a company engaged in contracting, established since 1994
        experienced in the construction field</h2>
     
    </div>
    <div class="jumbotron__btn-wrap">
      <button class="btn-discover">Discover More</button>
      <button class="btn-contact">Contact Us</button>
    </div>
  </section>
</header>
<main>
  <div class="stripe">
    <div class="stripe-wrap">
      <h3>are you looking for an experienced <br> Construction & industry expert ?
       </h3>
     <button class="btn-stripe">Discover more</button>
    </div>
  </div>
  <section class="welcome">
    <div class="welcome__text-wrap">
      <h3>Welcome to PT. General Multi Utama</h3>

      <h4>The great history and journey of PT. General Multi Utama started in 1994. With the skill and experience we have developed for more than 20 years while handling prestigious construction project of huge and medium scale. We started to build dozens of factories, hotels, apartements, commercial buildings and hospitals. General Multi Utama focuses on general construction service with end-to-end service including : Plan, Design and Bulid.</h4>

      <h4>Beyond bricks and mortar, people are the backbone of our business. We value relationships with the people we serve our clients, contractors, suppliers and associates. Together we can enhance the quality of life for all. Since we believe that buildings are a reflection of the people who build them, we hire leaders of esteemed character who are fair, kind and considerate. By attracting and retaining the best construction professionals in our industry, </h4>
      <h4>
        we are able to maintain the highest standards and ethics. When you work with PT. General Multi Utama Company, you will experience positive attitudes, flexibility, transparency, timeliness, and quality workmanship.
      </h4>

      <img src="/images/heros/signature.png" alt="signature" class="welcome-signature">

      <button class="btn-welcome">contact us</button>

    </div>

    <div class="welcome__image-wrap">
      <div class="wrap hotel">
        <h5>Infrastructure & Building</h5>
        
      </div>
      <div class="wrap shopping-center">
        <h5>reality and property</h5>
      </div>
      <div class="wrap office-space">
        <h5>funding</h5>
      </div>
      <div class="wrap factory">
        <h5>energy & industrial plant</h5>
      </div>
      <div class="wrap industry">
        <h5>industry</h5>
      </div>
    </div>
  </section>
 
  

  <section class="main-service" id="main-service">
    
    <div class="container">
      <h2>Industry</h2>
      <ul class="tabs">
        <li data-tab-target="#satu" class="active tab">precast concrete</li>
        <li data-tab-target="#dua" class="tab">Industrial facility</li>
        <li data-tab-target="#tiga" class="tab">Bitumen</li>
      </ul>
     
      <div class="tab-content">
        <div id="satu" data-tab-content class="active">
          <div class="text-wrap">
            <h3>work on precast concrete product</h3>
            <h4>Precast concrete is highly resistant concrete. As it is produced with lowPrecast concrete resist impact load, corrosion, weathering, abrasion and other ravages of time. It reduces maintenance and operating costs</h4>
          </div>
          <div class="img-wrap">
            <img src="/images/heros/precest/beton.jpg" alt="beton pracetak">
            <img src="/images/heros/precest/beton2.jpg" alt="beton pracetak">
            <img src="/images/heros/precest/beton3.jpg" alt="beton pracetak">
          </div>
        </div>


        <div id="dua" data-tab-content >
          <div class="container">
            <div class="card">
              <h3>Fabrication stainless</h3>
              <div class="img-con">
                <img src="https://mydecorative.com/wp-content/uploads/2019/07/stainless-steel-fabrication.jpg" alt="fabrication stainless">
              </div>
            </div>
            <div class="card">
              <h3>Alumunium Casting</h3>
              <div class="img-con">
                <img src="https://4.imimg.com/data4/BT/SL/MY-8452474/aluminium-pressure-die-casting-machine-500x500.jpg" alt="alumunium casting">
              </div>
            </div>
            
          </div>
        </div>
        <div id="tiga" data-tab-content >
          <div class="container">
            <div class="card">
              <h3>granular asphalt</h3>
              <div class="img-con">
                <img src="https://image1ws.indotrading.com/s3/productimages/jpeg/co101713/p547692/w600-h600/c8f24eda-92dc-48ad-95dc-beeb8259b6dfw.png" alt="granular asphalt">
              </div>
            </div>
            <div class="card">
              <h3>asphalt extraction</h3>
              <div class="img-con">
                <img src="https://www.wikabitumen.co.id/uploads/images/aspal-murni3.jpeg" alt="asphalt extraction">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Managed by :</h4>
      <div class="logo-wika">
        <div class="card">
          <img src="/images/heros/wikabeton.png" alt="wika beton">
        </div>
        <div class="card">
          <img src="/images/heros/wika-kobe.png" alt="wika kobe">
        </div>
        <div class="card">
          <img src="/images/heros/wika-krakatau.jpg" alt="wika krakatau">
        </div>
        <div class="card">
          <img src="/images/heros/wika-industri.jpg" alt="wika industri dan konstruksi">
        </div>
        <div class="card">
          <img src="/images/heros/wika-bitumen.png" alt="wika bitumen">
        </div>
      </div>
    </div>
  </section>

 


</main>
 
</body>
</html>
