

    [data-tab-content]{
      display: none;
    }
    .active[data-tab-content]{
      display: block;
    }

    


    .tab.active{
      background: rgb(219, 236, 242);
    //  border: red solid 1px;
      color: rgb(9, 9, 88);
    }

.main-service{
  //border: red solid 1px;
  .container{
   // border: rgb(72, 255, 0) solid 1px;
    max-width: 1200px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    h2{
      margin-top: 3rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      text-decoration: underline;
      &::after{
        content: " :";
      }
    }
    .tabs{
      display: flex;
    //  tobol tab------------------------
      .tab{
        border: rgb(220, 220, 237) solid 1px;
        
        width: 100%;
        cursor: pointer;
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 800;
        text-transform: capitalize;
        clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
      }
      // ------------------------------
    }
    .tab-content{
      //margin: 2rem 0;
    //  border: red solid 1px;
      background: rgb(219, 236, 242);
      padding: 0 1rem 2rem 1rem;
      height: 460px;
      display: flex;
      justify-content: center;
      align-items: center;
      #satu{
        .text-wrap{
          padding-right: 15rem;
          h3{
            text-transform: capitalize;
            color: rgb(9, 9, 88);
          }
          h4{
            font-size: 1rem;
            font-weight: 400;
            text-align: left;
          }
        }
        .img-wrap{
          display: flex;
          gap: 10px;
        }
      }
      #dua{
        .container{
          display: flex;
          justify-content: center;
          gap: 1rem;
          .card{
            width: 400px;
            height: 250px;
            overflow: hidden;
            h3{
              margin: 10px 0;
              color: rgb(9, 9, 88);
              text-transform: capitalize;
            }
          }
        }
      }
      #tiga{
        .container{
          display: flex;
          justify-content: center;
          gap: 1rem;
          .card{
            width: 400px;
            height: 250px;
            overflow: hidden;
            h3{
              margin: 10px 0;
              color: rgb(9, 9, 88);
              text-transform: capitalize;
            }
          }
        }
      }
      #satu-2{
      
        .container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         // align-items: center;
          justify-content: center;
          gap: 10px;
          //border: red solid 1px;
          margin-top: 4rem;
          height: 100%;
        }
      }
      #dua-2{
        .container{
          display: flex;
          justify-content: center;
          //align-items: center;
          gap: 5px;
          .card{
            width: 300px;
          }
        }
      }

      #infra-1{
        .container{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 10px;
        }
      }
      #infra-2{
        .container{
          display: flex;
          align-items: center;
          gap: 10px;
          .card{
            width: 350px;
          }
        }
      }
      #infra-3{
        .container{
          display: flex;
          gap: 10px;
          .card{
            width: 400px;
          }
        }
      }
      #property-1{
        .container{
          display: flex;
          gap: 10px;
          .card{
            width: 380px;
          }
        }
      }
      #property-2{
        .container{
          display: flex;
          .card{
            width: 500px;
          }
        }
      }
      #funding-1{
        .container{
          display: flex;
          gap: 1rem;
          .card{
            width: 400px;
          }
        }
      }
    }
    h4, h5{
      text-align: center;
      margin: 1rem 0;
    }

    .logo-wika{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      //border: red solid 1px;
      justify-content: center;
      .card{
       // border: red solid 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        //width: 250px;
        .logo-wika-konstruksi{
          text-align: center;
          width: 200px;
        }
        .logo-wika-gedung{
          width: 200px;
        }
      }
    } 
  }
}

[data-energy-content]{
  display: none;
}
.active[data-energy-content]{
  display: block;
}

[data-infra-content]{
  display: none;
}


.active[data-infra-content]{
  display: block;
}

[data-property-content]{
  display: none;
}

.active[data-property-content]{
  display: block;
}

