.welcome{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 //grid-template-columns: 1fr 1fr;
  gap: 3rem;
  //border: red solid 1px;
  max-width: 1200px;
  margin: 9rem auto;
  &__text-wrap{
    // font-family: "Montserrat", sans-serif;
    color: rgb(72, 72, 75);
    .btn-welcome{
      margin-top: 1rem;
      border: none;
      padding: 1rem 3rem;
      border-radius: 25px;
      background: gold;
      font-size: 1rem;
      box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
      -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
      cursor: pointer;
      transition: all ease-in-out 0.3s ;
      &:hover{
        transform: scale(1.1);
      }
    }
    h3{
      font-size: 1.6rem;
      color: rgb(11, 11, 63);
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0.5rem;
    }
    h4{
      margin: 1.6rem 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
      font-weight: 200;
      line-height: 1.2;
      letter-spacing: 1px;
      color: rgb(11, 11, 63);
    }
    .welcome-signature{
      display: block;
      width: 200px;
    }
  }
  &__image-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  //  border: rgb(221, 154, 10) dashed 1px;
    padding: 1rem;
    border-radius: 2px;
    position: relative;

    .wrap{
    //  border: blue solid 1px;
      height: 200px;
      border-radius: 10px;
      cursor: pointer;
      
      display: flex;
      align-items: center;
      justify-content: center;
      transition:all ease-in 0.5s;
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        border-radius: 10px;
        top: 0;
        opacity: 0.7;
        transition:all ease-in 0.3s;
      }
     
      h5{
        color: rgb(248, 241, 241);
        position: relative;
        z-index: 7;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
      }
      &:hover{
       
        &::after{
          width: 100%;
          height: 0;
          
        }
       }
    }
    .hotel{
      background: url('https://images.pexels.com/photos/1057858/pexels-photo-1057858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
      background-position: center;
      background-size: cover;
      position: relative;
      top: -3rem;
      h5{
        font-size: 1rem;
        padding: 0 1rem;
        text-align: center;
      }
    }
    .shopping-center{
      background: url('https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/hotel.jpg');
      background-position: center;
      background-size: cover;
      position: relative;
     
    }
    .office-space{
      background: url('https://images.pexels.com/photos/186461/pexels-photo-186461.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
      background-position: center;
      background-size: cover;
      position: relative;
      top: -3rem;
     
    }
    .industry{
      background: url('https://media-exp1.licdn.com/dms/image/C4E1BAQG5TBf5mPXZHA/company-background_10000/0/1586962637888?e=2159024400&v=beta&t=wboUh4JbNLsKPaevvzyzQYxqfg-H7-XcnuMxltonUqo');
      background-position: center;
      background-size: cover;
      position: relative;
      top: -3rem;
    }
    .factory{
      background: url('https://raw.githubusercontent.com/irfan-fauzi/pt-general-mult--utama/main/src/public/images/heros/factory.jpg');
      background-position: center;
      background-size: cover;
      position: relative;
    
      h5{
        font-size: 1rem;
        padding: 0 2rem;
        text-align: center;
      }
    }
  }

}

@media only screen and (max-width: 868px){
  .welcome{
    margin: 1.9rem 0;
    width: 100%;
    grid-template-columns: 1fr;
   &__text-wrap{
   //  border: red solid 1px;
     
     padding:0 1rem;
     h3{
       text-align: center;
       font-size: 1.2rem;
     }
     h4{
       font-size: 1rem;
       margin: 1rem 0;
    
     }
     .btn-welcome{
       margin-top: 0.7rem;
       padding: 0.8rem 2.6rem;
       font-size: 0.9rem;
     }
     .wrap{
       position: static;
     }
     
   }
   &__image-wrap{
    .hotel, .shopping-center, .factory, .office-space{
      top: 0;
      
     }
   }
  }
}