@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat:wght@100;200;300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 700px;
  background: url("/images/heros/bg0.jpeg");
  background-size: cover;
  background-position: center;
  -webkit-animation: slideBg 15s linear infinite 0s;
          animation: slideBg 15s linear infinite 0s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}

header .logo {
  width: 250px;
  z-index: 4;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

header .nav .nav__title {
  color: #2c2c2b;
  font-family: "Caveat", cursive;
  font-size: 2.2rem;
}

header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  z-index: 4;
}

header .nav .nav__list .nav__item a {
  color: #e4dfcd;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 13px;
  font-size: 0.8rem;
  width: 100%;
}

header .nav .nav__list .nav__item :hover {
  color: rgba(243, 185, 50, 0.905);
}

header .nav__btn {
  display: none;
}

header .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .jumbotron__text-wrap {
  z-index: 4;
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f2ce;
  display: block;
  max-width: 600px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

header .jumbotron__text-wrap h1 {
  font-size: 2.7rem;
  margin-top: 6rem;
}

header .jumbotron__text-wrap h2 {
  font-size: 1rem;
  margin: 1.6rem 0;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 1px;
}

header .jumbotron__btn-wrap {
  z-index: 4;
}

header .jumbotron__btn-wrap .btn-discover {
  background: #ffb700;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

header .jumbotron__btn-wrap .btn-discover:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header .jumbotron__btn-wrap .btn-contact {
  padding: 1rem 2rem;
  border-radius: 25px;
  border: gold solid 1px;
  background: transparent;
  color: yellow;
  cursor: pointer;
  font-weight: 600;
  margin-left: 0.5rem;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

header .jumbotron__btn-wrap .btn-contact:hover {
  background: #fcca04;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  color: #1f1d1d;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  opacity: 0.7;
  z-index: 0;
}

@media only screen and (max-width: 868px) {
  header {
    height: 670px;
  }
  header .nav__btn {
    display: block;
    border: none;
    font-size: 2.1rem;
    background: none;
    cursor: pointer;
    padding: 0 px;
    color: white;
  }
  header .nav {
    position: relative;
    z-index: 9;
  }
  header .nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 98%;
    z-index: 10;
    background: #1f1d1d;
    -webkit-transform: translate(-1000px, 250px);
            transform: translate(-1000px, 250px);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    padding: 2rem;
  }
  header .nav .nav__list .nav__item {
    z-index: 88;
  }
  header .nav .nav__list .nav__item a {
    font-size: 1.5rem;
  }
  header .nav .nav__title {
    font-size: 2.1rem;
  }
  header .nav .show {
    -webkit-transform: translate(-40px, 250px);
            transform: translate(-40px, 250px);
  }
  header .jumbotron__text-wrap {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  header .jumbotron__text-wrap h1 {
    font-size: 1.5rem;
    padding: 0 1rem;
    font-family: "Montserrat", sans-serif;
  }
  header .jumbotron__text-wrap h2 {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
  }
  header .jumbotron__btn-wrap .btn-contact {
    font-size: 0.7rem;
    padding: 0.8rem 1.5rem;
  }
  header .jumbotron__btn-wrap .btn-discover {
    font-size: 0.7rem;
    padding: 0.8rem 1.5rem;
  }
}

@-webkit-keyframes slideBg {
  0% {
    background-image: url("/images/heros/bg0.jpeg");
  }
  25% {
    background-image: url("/images/heros/bg1.jpeg");
  }
  50% {
    background-image: url("/images/heros/bg2.jpeg");
  }
  75% {
    background-image: url("/images/heros/bg3.jpeg");
  }
  100% {
    background-image: url("/images/heros/bg0.jpeg");
  }
}

@keyframes slideBg {
  0% {
    background-image: url("/images/heros/bg0.jpeg");
  }
  25% {
    background-image: url("/images/heros/bg1.jpeg");
  }
  50% {
    background-image: url("/images/heros/bg2.jpeg");
  }
  75% {
    background-image: url("/images/heros/bg3.jpeg");
  }
  100% {
    background-image: url("/images/heros/bg0.jpeg");
  }
}

.stripe {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: linear-gradient(36deg, #ebbd05 25%, #e0d20b 25%, #e0d20b 50%, #ebbd05 50%, #ebbd05 75%, #e0d20b 75%, #e0d20b 100%);
  background-size: 102.08px 74.16px;
  color: #080824;
}

.stripe h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1.5;
}

.stripe .stripe-wrap {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stripe .btn-stripe {
  padding: 1.2rem 2.7rem;
  border: #f3efef solid 3px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background: #fcf9f9;
  color: #130101;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 868px) {
  .stripe {
    padding: 0 1rem;
  }
  .stripe h3 {
    font-size: 0.8rem;
  }
  .stripe .btn-stripe {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
  }
  .stripe .stripe-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  max-width: 1200px;
  margin: 9rem auto;
}

.welcome__text-wrap {
  color: #48484b;
}

.welcome__text-wrap .btn-welcome {
  margin-top: 1rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 25px;
  background: gold;
  font-size: 1rem;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.welcome__text-wrap .btn-welcome:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.welcome__text-wrap h3 {
  font-size: 1.6rem;
  color: #0b0b3f;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
}

.welcome__text-wrap h4 {
  margin: 1.6rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #0b0b3f;
}

.welcome__text-wrap .welcome-signature {
  display: block;
  width: 200px;
}

.welcome__image-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
}

.welcome__image-wrap .wrap {
  height: 280px;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.welcome__image-wrap .wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 10px;
  top: 0;
  opacity: 0.7;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.welcome__image-wrap .wrap h5 {
  color: #dfd8d8;
  position: relative;
  z-index: 7;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.welcome__image-wrap .wrap:hover::after {
  width: 100%;
  height: 0;
}

.welcome__image-wrap .hotel {
  background: url("https://images.pexels.com/photos/1057858/pexels-photo-1057858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  position: relative;
  top: -2rem;
}

.welcome__image-wrap .shopping-center {
  background: url("/images/heros/hotel.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1rem;
}

.welcome__image-wrap .office-space {
  background: url("https://images.pexels.com/photos/186461/pexels-photo-186461.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  position: relative;
  top: -2rem;
}

.welcome__image-wrap .factory {
  background: url("/images/heros/factory.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1rem;
}

.welcome__image-wrap .factory h5 {
  font-size: 1rem;
  padding: 0 2rem;
  text-align: center;
}

@media only screen and (max-width: 868px) {
  .welcome {
    margin: 1.9rem 0;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .welcome__text-wrap {
    padding: 0 1rem;
  }
  .welcome__text-wrap h3 {
    text-align: center;
    font-size: 1.2rem;
  }
  .welcome__text-wrap h4 {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .welcome__text-wrap .btn-welcome {
    margin-top: 0.7rem;
    padding: 0.8rem 2.6rem;
    font-size: 0.9rem;
  }
  .welcome__text-wrap .wrap {
    position: static;
  }
  .welcome__image-wrap .hotel, .welcome__image-wrap .shopping-center, .welcome__image-wrap .factory, .welcome__image-wrap .office-space {
    top: 0;
  }
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.service {
  background: #010157;
  margin-top: -1rem;
}

.main-service {
  max-width: 1000px;
  margin: auto;
}

.main-service h2 {
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
  text-decoration: underline;
}

.main-service .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
}

.main-service .grid .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
}

.main-service .grid .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 15px;
  padding: 0.7rem;
  border-radius: 10px;
  background: #e6c406;
}

.main-service .grid .card i {
  color: #faf9f2;
  font-size: 2rem;
}

.main-service .grid .card h3 {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.main-service .grid .card h4 {
  font-size: 0.8rem;
  font-weight: 400;
}

.main-service h2 {
  text-transform: capitalize;
}

.main-service .img-wrap {
  margin: 2rem 0;
  overflow: hidden;
}

.main-service img {
  width: 100%;
}

.main-service h4 {
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 868px) {
  .main-service h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .main-service .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */